/* Universal Styles */

html {
    font-size: 16px;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: dimgray;
}

/* Header Section */

header {
    position: fixed;
    height: 64px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
}

header .content {
    display: flex;
    margin: 0 24px;
    align-items: baseline;
    justify-content: flex-start
}

header img {
    margin: auto 0;
    height: 38px;
}

.content .logo {
    line-height: 32px;
    font-size: 20px;
}

.content strong {
    color: #202020;
}

.content nav {
    margin-left: auto;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 8px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
        justify-content: space-around;
        margin-top: 13px;
    }   
}

/* Main Content Section */

main {
    margin-top: 64px;
}

    /* Start Section */

#start-section {
    display: flex;
    background-color: lightgray;
}

.start-container1 {
    width: 60%;
    margin: 32px 24px;
}

.start-container1 img {
    width: 100%;
}

.start-container2 {
    width: 40%;
    margin: auto 16px;
    font-weight: bold;
}

.start-container2 button {
    width: 90%;
    padding: 8px;
    color: lightgray;
    font-weight: bold;
    background-color: dimgray;
    border: none;
}

@media only screen and (max-width: 760px) {
    #start-section {
        flex-direction: column;
        justify-content: center;
    }

    .start-container1 {
        width: 100%;
        margin: 0 0 32px;
    }
    
    .start-container2 h1 {
        margin: 0 0 32px;        
    }

    .start-container2 p {
        margin: 0 0 24px;
    }

    .start-container2 {
        margin: 0 16px 32px;
        width: 100%;
    }

    .start-container2 button {
        margin: 0 auto;
        width: 90%;
    }
}

/* Info Section */

#info-section .mobile {
    display: none;
}

#info-section {
    display: flex;
}

.info-container1 {
    width: 60%;
    margin: 32px 24px;
}

.info-container1 .content h2 {
    margin-bottom: 24px;
}

.info-container1 .content caption {
    margin-bottom: 32px;
}

.info-container1 img {
    width: 100%;
}

.info-container2 {
    width: 40%;
    margin: 16px auto 32px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid lightgray;
}

.info-container2 .container {
    display: flex;
    border-style: none none double none;
    border-color: lightgray;
}

.info-container2 img {
    height: auto;
    width: 35%;
    flex: 1;
    margin: 16px;
}

.info-container2 .container .content {
    width: 65%;
    flex: 1;
    margin: auto;
}

.container .content h3 {
    margin: 0 0 8px 0;
}

.container .content p {
    margin: 0 0 8px 0;
}

.container .content a {
    margin: 0 0 8px 0;
    text-decoration: none;
}

.highlight {
    background-color: lightgray;
}

@media only screen and (max-width: 760px) {
    #info-section .desktop {
        display: none;
    }

    #info-section .mobile {
        display: inline;
    }

    #info-section {
        flex-direction: column;
        margin: 16px 16px 0;
    }

    .info-container1 {
        display: none;
    }

    .info-container2 {
        width: 100%;
        margin: 0;
        border-left: none;
    }

    .info-container2 img {
        width: 100%;
        margin: 0 0 16px;
    }

    .info-container2 .container {
        flex-direction: column;
        border-style: none;
        margin: 0;
    }

    .info-container2 .container .content {
        width: 90%;
        margin: 16px 16px 64px;
    }
    .highlight {
        background-color: white;
    }
}

/* Courses Section */

#courses-section {
    background-color: lightgray;
    padding-top: 32px;
}

#courses-section h2 {
    text-align: center;
    margin: auto;
}

.courses-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto 56px;
    padding: 16px 0; 
}

.courses-container img {
    height: auto;
    width: 100%;
}

.courses-container .container{
    display: flex;
    flex-flow: column wrap;
    min-width: ;
    max-width: 417px;
    margin: 16px;
}
.courses-container .content {
    padding: 16px 16px 24px;
    background-color: white;
    flex: 1;
}

@media only screen and (max-width: 760px) {
    #courses-section {
        padding: 0;
        margin: 0 16px;
        background-color: white;
    }

    #courses-section .desktop {
        display: none;
    }
    
    #courses-section .mobile {
        display: inline-block;
    }

    .courses-container {
        width: 100%;
        margin: 12px 0 28px;
    }

    .courses-container h3 {
        width: 100%;
        padding: 16px 0 24px 16px;
        margin: 4px 0;
        background-color: lightgray;
    }
}

/* Thesis Section */

#thesis-section {
    padding-top: 32px;
}

#thesis-section h2 {
    text-align: center;
    padding-bottom: 8px;
    margin: auto;
}

.exhibit {
    display: flex;
}

.thesis-container1 {
    width: 60%;
    padding: 32px 24px;
}

.video {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.thesis-container1 .content h3 {
    margin-top: 24px;
}

.thesis-container1 .content p {
    margin: 8px 0 0;
}
.thesis-container2 {
    width: 40%;
    padding: 32px 0;
}

.thesis-container2 .container {
    display: flex;
}

.thesis-container2 img {
    width: 35%;
    height: auto;
    flex: 1;
    margin: 16px;
}

.thesis-container2 .content {
    width: 65%;
    margin: auto;
}

@media only screen and (max-width: 760px) {
    .thesis-container1 {
        width: 100%;
        padding: 0;
    }

    .video {
        max-width: 100%;
        max-height: 100%;
        padding: 8px 0 24px;
    }

    .thesis-container1 .content{
        display: none;
    }
    
    .thesis-container2 {
        display: none;
    }
}

/* Footer Secton */

footer {
    display: flex;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    bottom: 0;
    width: 100%;}

footer span {
    padding: 16px 24px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-with: 760px) {
    footer span {
        padding: 16px 0;
    }
    
    footer .mobile {
        display: none;
    }
}
