body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: gray;
}

/* Header Section */

header {
    position: fixed;
    height: 64px;
    background-color: white;
    top: 0;
    width: 100%;

}

header .content {
    display: flex;
    margin: 0 24px;
    align-items: baseline;
    justify-content: flex-start
}

header img {
    margin: auto 0;
    height: 32px;
}

.content .logo {
    line-height: 32px;
}
.content nav {
    margin-left: auto;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 8px;
}

header a {
    color: inherit;
    text-decoration: none;
}

/* Main Section */

main {
    margin: 64px;
}